@import "reset.css";
div {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

button {
  margin: 0 10px;
  padding: 28px;
  font-size: 0;
}
.click {
  font-size: 20px;
  animation: cycle ease-in-out;
  transform: rotate(1turn);
  transition: all 2s ease-in-out;
}
.afterclick {
  animation: slow 1s linear;
  animation-delay: 2s;
  animation-fill-mode: forwards;
}

.hidden {
  opacity: 0;
  transition: all 2s ease-in-out;
}
@keyframes slow {
  0% {
    font-size: 18px;
  }
  25% {
    font-size: 15px;
  }
  50% {
    font-size: 10px;
  }
  75% {
    font-size: 5px;
  }
  100% {
    font-size: 0px;
  }
}
